@charset "utf-8";
/* CSS Document */
@font-face{
	font-family: 'Myriad';
	src: url('../assets/fuentes/myriadproregular.eot');
	src: url('../assets/fuentes/myriadproregular.eot?#iefix') format('embedded-opentype'),
	url('../assets/fuentes/myriadproregular.woff') format('woff'),
	url('../assets/fuentes/myriadproregular.ttf') format('truetype'),
	url('../assets/fuentes/myriadproregular.svg#myriadproregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
body{
	font-size: 16px;

}
h1{
	letter-spacing:-2px;
	font-family: 'Montserrat', sans-serif;
}
h2{
	font-size:33px;
	color:#2982c7;
	margin-top: 20px;
	margin-bottom: 30px;
	font-family: 'Montserrat', sans-serif;
    /*text-transform: uppercase;
    font-weight: bold;*/
}
h3{
	font-size:22px;
	color:#2982c7;
	margin-top:15px;
	font-family: 'Montserrat', sans-serif;
}
.btn-vender{
	/*font-size: 15px;*/
	font-family: 'Montserrat', sans-serif;
	line-height: 24px;
	float: right;
	margin-top: 17px;
	font-size: 12px;
}
#content-slider li{
	border: solid 1px #e7e7e7;
	border-radius: 4px;
	text-align: center;
	height: 77px;
}
#content-slider li img{
	max-width: 150px;
	width: 100%
}
.btn-default.focus, .btn-default:focus,
.btn-vender:hover{
	background-color: #2982c7 !important;
	color: #fff !important;
}
.btn-default{
	color:#2982c7;
	border-color:#2982c7;
}

.activo,
.btn-default:hover{
	color:#fff;
	border-color:#2982c7;
	background-color:#2982c7;
}
.cabezote{
	border-bottom: solid 5px #f3f3f3;
	padding: 10px;
	position: fixed;
	width: 100%;
	background: #fff;
	z-index: 3;
}
.cabezote img{
	width: 55px;
}
.conte-miga{
	float: left;
	width: 100%;
	border-bottom: solid 1px rgb(240, 240, 240);
	margin-bottom: 30px;
    margin-top: 70px;
}
.conte-miga ul{
	border-bottom:solid 1px rgb(41, 130, 199);
	float:left;
	margin:0;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left:15px;
}
.conte-miga ul li{
	float:left;
	display: inline-block;
	margin: 0px;
	margin-right: 15px !important;
	margin-top: 4px;
}
.conte-miga ul li a{
	color:#2982c7;
	text-decoration:none;
	border:0;
}
/*.conte-miga ul li:first-child {
	margin:0;
}*/
.conte-miga ul li img {
	opacity:0.2;
	width:40px;
	height:auto;
}
#vende-ahora{
	margin-top: 100px;
	border-bottom: solid 1px #e9e9e9;
}
#vende-ahora strong{
	font-size: 20px;
}
#vende-ahora .btn{
	background-color: #2982c7;
	color: #fff;
	margin-top: 10px;
}
#vende-ahora .btn:hover{
	background-color: #166db1;
}
#vende-ahora .img-prod{
	margin-top: 50px;
}
#vende-ahora .img-prod img{
	max-width: 342px;
	width: 100%
}
.logos-apoyo{
	margin-top: 100px;
	text-align: center;
}
.logos-apoyo img{
	width: 100%;
	max-width: 650px;
}
#footer{
	background-color: #2982c7;
	color: #fff;
	font-size: 18px;
	margin-top: 100px;
	padding-bottom: 100px;
	padding-top: 30px;
}
#footer .btn{
	background-color: #333;
	color: #fff;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	border: solid 1px #333;
}
#footer .input-group{
	margin-bottom: 20px;
	margin-top: 20px;
}
#footer h2{
	color: #fff;
}
#footer  .btn,
#footer input{
	border-radius: 0;
	height: 40px;
}
.modulos-como-funciona{
	padding-bottom: 100px;
	padding-top: 100px;
	border-bottom: solid 1px #e9e9e9;
}
.modulos-como-funciona img{
	width: 150px !important;
}
#footer .redes{
	width: 100%;
	clear: both;
	text-align: right;
	border-top: solid 1px #70a9d5;
	padding-top: 30px;
	margin-top: 50px;
}
#footer .col-sm-offset-3{
	margin-bottom: 40px;
}
.conte-botones .row{
	width: 520px;
	margin: auto;
}
.conte-ofertas .row{
	width:90%;
	margin-left:5%;
	margin-right:5%;
}
.conte-ofertas .form-horizontal .control-label{
	padding-right: 0;
}
.conte-ofertas .col-md-6:first-child {
	border-right: solid 1px rgb(240, 240, 240);
	padding-bottom: 50px;
}
.conte-ofertas .precio{
	font-size: 49px;
	font-weight: bold;
	color: rgb(41, 130, 199);
}
.conte-ofertas ul{
	text-align:left;
	list-style-image:url(../imgs/bullet.png);
	width: 300px;
	margin: auto;
}
.conte-ofertas form{
	margin-top:20px;
}
.conte-ofertas label{
	font-weight: normal;
	color: rgb(41, 130, 199);
}
.conte-ofertas .col-sm-offset-1{
	margin-left: 54px;
}
.estado_telefono{
	width: 390px !important;
}
.conte-botones .col-md-3{
	padding:5px !important;
	width: 130px;
}
.conte-botones .col-md-3>a{
	color:#b0b0b0;
	text-decoration:none;
}
.conte-botones .col-md-3 div:hover{
	color:#2982c7;
	border-color:#2982c7;
}
.conte-botones .col-md-3 div{
	border: solid 1px #e7e7e7;
	border-radius: 4px;
	width: 120px;
	height: 120px;
	vertical-align: middle;
	display: table-cell;
	padding:5px;
}
.conte-botones .col-md-3 div p{
	font-size: 13px;
	line-height: 13px;
	color: rgb(212, 211, 211);
	margin-top: 5px;
	margin-bottom:5px;
}
.marcas .col-md-3 div{
	border-color: #2982c7 !important;
}
.marcas .col-md-3>a{
	color: #2982c7 !important;
}
.marcas .col-md-3 div:hover{
	background-color: #2982c7;
	color: #fff !important;
}
.conte-fotos .col-md-3 div{
	border: solid 1px #e7e7e7;
	border-radius: 4px;
	width: 230px;
	height: 230px;
	vertical-align: middle;
	display: table-cell;
}
.conte-fotos .col-md-3{
	width:260px;
}
.conte-fotos .row{
	width: 780px;
	margin: auto;
}
.modulo-fotos{
	float:left;
	width: 260px;
	padding: 0 15px 0 15px;
	margin-bottom: 40px
}
.modulo-fotos .img-foto{
	border: solid 1px rgb(231, 231, 231);
	border-radius: 4px;
	width: 230px;
	height: 230px;
}
.modulo-fotos .img-foto img{
	width: 227px !important;
}
.modulo-fotos .img-foto1{
	background-image:url(../assets/imgs/phone1.png);
	background-repeat:no-repeat;
	background-position:center;
	background-size: contain;
}
.modulo-fotos .img-foto2{
	background-image:url(../assets/imgs/phone2.png);
	background-repeat:no-repeat;
	background-position:center;
	background-size: contain;
}
.modulo-fotos .img-foto3{
	background-image:url(../assets/imgs/phone3.png);
	background-repeat:no-repeat;
	background-position:center;
	background-size: contain;
}
.modulo-fotos .texto{
	font-size:15px;
	margin: 15px 0 15px 0;
	height: 30px;
}
.step3-thumb {
	width: 228px !important;
	height: 228px;
}
.slider-zelly .container{

	border-bottom: solid 1px #e9e9e9;
	padding-top:130px;
	padding-bottom:100px;
}
.conte-slider h1{
	color: #2982c7;
	font-size: 60px;
	line-height: 70px;
}
.conte-slider .intro{
	font-size:21px;
	line-height: 21px;
	margin-bottom: 40px;
	margin-top: 20px;
}
.conte-slider .intro strong{
	display: block;
}
.logos{
	border-top:solid 1px #f0f0f0;
	margin-top: 25px;
	padding: 25px;
}
.logos img{
	opacity:0.2;
}
.logos img:hover{
	opacity:1;
}
.modulos-como-funciona .col-md-4{
	padding-left:50px;
	padding-right:50px;

}

@media (min-width: 750px) and (min-width: 992px){
	.marcas .row {

		width: 784px;
	}
}

@media (max-width: 768px){

	.modulos-como-funciona{
		padding-bottom: 50px;
		padding-top: 50px;
	}
	#vende-ahora {
		margin-top: 50px;

	}
	.modulos-como-funciona .col-md-4 {

		margin-bottom: 40px;
	}
	#vende-ahora .col-sm-4 {
		margin-top: 60px;
	}
	h2{
		margin-top: 30px;
		margin-bottom: 20px;
	}

	.slider-zelly{
		padding:0;
		padding-top:20px;
	}
	.conte-slider h1{
		font-size: 37px;
		line-height: 37px;
		margin-top: 0px;
		letter-spacing: -2px;
	}
	.conte-ofertas .col-sm-offset-1{
		margin-left:0;
	}
}

@media (max-width: 520px){
	.conte-botones .row{
		width: 260px !important;
		margin: auto;
	}

}
@media (max-width: 827px){
	.conte-fotos .row{
		width: 260px;
	}
	.modulo-fotos{
		margin-bottom:30px;
	}
}
/*@media (max-width: 406px){
	.estado_telefono {
    width: 130px;
}
}*/

@media (max-width: 992px){

	.marcas .row {
		width: 392px;
	}

	.col-md-3{
		float: left;
	}
	.conte-ofertas .col-md-6:first-child {
		border-right:0;
		margin-bottom:50px;
		border-bottom: solid 1px rgb(240, 240, 240);
		padding: 0 0 50px 0;
	}
	.conte-ofertas .col-sm-offset-1{
		margin-left: 48px;
	}
}