<!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://zelly.co"><img class="img-responsive" src="assets/images/logotipo_blanco__beta_.png" alt="Logo Zelly"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <!--<li><a href="#" style="padding: 0px">¿Preguntas? <br><img src="assets/images/simbolo_whatsapp.png" alt="whatsapp" style="height: 20px;"> +57 3207303684</a></li>-->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
