<breadcrumb></breadcrumb>
<div class="container modulos-como-funciona">

  <div class="row text-center conte-botones marcas">
    <h2>Selecciona la capacidad del dispositivo</h2>
    <div class="row">
      <div class="col-md-3" ng-repeat="capacity in capacities"><a ng-click="selectCapacity(capacity)"><div ng-class="{'active' : capacity.selected}">{{capacity.name}}</div></a></div>

  </div>
</div>
