<breadcrumb></breadcrumb>
<div class="container modulos-como-funciona">

  <div class="row text-center conte-ofertas">
    <h2>Vende fácil, rápido y seguro.</h2>
    <div class="row oferta">
      <div class="col-md-6">
      <div ng-show="minPrice && maxPrice">Hoy, tu puedes recibir entre…</div>
        <div class="precio" ng-show="minPrice && maxPrice">{{minPrice}} - {{maxPrice}}</div>
        <ul>
          <li>Vamos donde y cuando quiera.</li>
          <li>Pagamos al instante.</li>
          <li>La seguridad es nuestra prioridad.</li>
        </ul>
      </div>
      <div class="col-md-6">

        <h3>¿Lo que sucedera?</h3>
        <p>Analizaremos tu solicitud y buscaremos la mejor oferta dentro de nuestra red, 
          un asociado local se comunicara con usted para discutir la posible fecha y lugar para reunirse.</p>
          <div>
            <button type="button" class="btn btn-default" ng-click="next()">Regresar al Inicio</button></div>    

          </div>
        </div>

      </div>
    </div>
