<div class="slider-zelly">
  <div class="container">
    <div class="conte-slider text-center">
      <h1>Vende tu teléfono en 24 horas</h1>
      <div class="intro">
        Selecciona la marca de tu dispositivo y <strong>obtén una oferta pronto</strong>
      </div>
      <div class="row text-center conte-botones marcas">
        <div class="row">

          <div ng-repeat="marca in marcas" class="col-md-3">
            <a ng-click="selectMarca(marca)">
              <div>{{marca.name | capitalize}}</div>
              <!-- <img ng-src="assets/imgs/{{marca.name | lowercase}}.png"  height="108" ng-class="{'active' : marca.selected}"> -->
            </a>
          </div>
          <!-- Pending to validate if images are going to be used -->
          <!--
          <div class="col-md-3"><a href="#"><div>Apple</div></a></div>
          <div class="col-md-3"><a href="#"><div>Samsung</div></a></div>
          <div class="col-md-3"><a href="#"><div>Motorola</div></a></div>
          <div class="col-md-3"><a href="#"><div>Sony</div></a></div>
          <div class="col-md-3"><a href="#"><div>Lg</div></a></div>
          <div class="col-md-3"><a href="#"><div>Huawei</div></a></div> -->

        </div>
      </div>

    </div>
  </div>
</div>

<div class="container modulos-como-funciona">
  <div class="row text-center">
  <h2>¿Cómo funciona?</h2>
    <div class="col-md-4 text-center">
       <img src="assets/imgs/icono1.png">
      <h3>Selecciona tu dispositivo</h3>
      Seleccione su dispositivo, con un par de fotos y unas sencillas preguntas recibe una oferta en 24 horas.
      </div>
      <div class="col-md-4 text-center">
       <img src="assets/imgs/icono2.png">
      <h3>Elige tiempo y lugar</h3>
      Decide cuando y donde reunirse con nuestro comprador para vender tu dispositivo.
      </div>
      <div class="col-md-4 text-center">
       <img src="assets/imgs/icono3.png">
      <h3>Recibe el pago</h3>
      Recibe el pago en efectivo, tarjeta prepagada o transferencia bancaria.
      </div>
  </div>
</div>

<div class="container" id="vende-ahora">
  <h2 class="text-center">Vende ahora</h2>
  <div ng-repeat="phone in popularPhones" class="col-sm-4 text-center">
    <strong>{{phone.marca.name | capitalize}} {{phone.model.name}}</strong>
    <div>Recibe hasta {{phone.estimatePrice | currency:"COP$":0}}</div>
    <a ng-click="selectPhone(phone)" class="btn btn-default">Vender ahora</a>
    <div class="img-prod"><img src="assets/imgs/popular/{{phone.picFile | lowercase}}"></div>
  </div>
</div>

<div id="porque-zelly" class="container modulos-como-funciona">
    <div class="row text-center">
    <h2>Porqué elegir zelly</h2>
      <div class="col-md-4 text-center">
        <img src="assets/imgs/icono-candado.png">
        <h3>Venta segura</h3>
        Acepta la oferta, nosotros te garantizamos que recibes el dinero en menos de 24 horas.
        </div>
        <div class="col-md-4 text-center">
        <img src="assets/imgs/icono-tiket.png">
        <h3>El mejor precio</h3>
        Te ofrecemos el mejor precio del mercado profesional.
        </div>
        <div class="col-md-4 text-center">
        <img src="assets/imgs/icono-billetes.png">
        <h3>Dinero al instante</h3>
        Nosotros pagamos al instante en efectivo o transferencia bancaria.
        </div>
    </div>
