<div class="cabezote" ng-class="center_logo_class">
  <div class="container">
    <img src="assets/imgs/logotipo_blanco__beta_.png" />
    <a ng-if="path === '/home'"  href="#" class="btn btn-default btn-vender">VENDER AHORA</a>
  </div>
</div>

<div ui-view></div>

<div class="container logos-apoyo">
  <h2>Ellos confian en zelly</h2>
  <img src="assets/imgs/logos-apoyo.png">
</div>
<div id="footer">
  <div class="container">
    <div class="col-sm-6 col-sm-offset-3 text-center">
      <h2>¿Inquietudes?</h2>
      <p>Deja tu número y zelly te contactara. Es gratis</p>
      <div class="input-group">
        <input type="text" class="form-control" aria-label="Text input with multiple buttons">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default">ENVIAR</button>
        </div>
      </div>
      <P>O manda un whatsapp con “hola zelly" al +57 310 436 8973</P>
    </div>
    <div class="redes">
      <a href="https://www.facebook.com/pages/zellyco/1559162227663395" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"><img src="assets/imgs/icon-fb.png"></a>
      <a href="https://twitter.com/zelly_co" data-show-count="true" data-lang="es" data-size="large"><img src="assets/imgs/icon-tw.png"></a>
      <a href="https://www.instagram.com/zellymobile/"><img src="assets/imgs/icon-inst.png"></a>
    </div>
  </div>
  <!--<div class="copy">
    © 2016 Zelly Inc. All rights reserved.
  </div> -->
<!-- <div class="container">
  <div class="pull-left">
    Iniciativa apoyada por
    <img src="assets/images/mintic.png" height="41">
    <img src="assets/images/icesi.png" height="41">
    <img src="assets/images/appsco_logo.png" height="41">
  </div>
  <div class="pull-right">
    <span><a href="https://twitter.com/zelly_co" class="twitter-follow-button" data-show-count="true" data-lang="es" data-size="large">Follow @zelly_co</a></span>
    <span class="btn-fb pull-right"><a class="fb-like" data-href="https://www.facebook.com/pages/zellyco/1559162227663395" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></a></span>
  </div>
</div> -->

<script>!function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = "//platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, "script", "twitter-wjs");
</script>
<div id="fb-root"></div>
<script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id))
            return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
