<breadcrumb></breadcrumb>
<div class="container modulos-como-funciona">

  <div class="row text-center conte-botones marcas">
    <h2>Selecciona tu modelo</h2>
    <div class="row">
      <div class="col-md-3" ng-repeat="modelo in modelos"><a ng-click="selectModel(modelo)"><div ng-class="{'active' : modelo.selected}">{{modelo.name}}</div></a></div>
      <!-- <div class="col-md-3"><a href="paso2.html"><div>Modelo 1</div></a></div>
      <div class="col-md-3"><a href="#"><div>Modelo 2</div></a></div>
      <div class="col-md-3"><a href="#"><div>Modelo 3</div></a></div>
      <div class="col-md-3"><a href="#"><div>Modelo 4</div></a></div>
      <div class="col-md-3"><a href="#"><div>Modelo 5</div></a></div>
      <div class="col-md-3"><a href="#"><div>Modelo 6</div></a></div>
      <div class="col-md-3"><a href="#"><div>Modelo 7</div></a></div>
      <div class="col-md-3"><a href="#"><div>Modelo 8</div></a></div> -->
    </div>

  </div>
</div>
