<breadcrumb></breadcrumb>
<div class="container modulos-como-funciona">

  <div class="row text-center conte-ofertas">
    <h2>Vende fácil, rápido y seguro.</h2>
    <div class="row oferta">
      <div class="col-md-6">
      <div ng-show="minPrice && maxPrice">Hoy, tu puedes recibir entre…</div>
       <div class="precio" ng-show="minPrice && maxPrice">{{minPrice}} - {{maxPrice}}</div>
       <ul>
        <li>Vamos donde y cuando quiera.</li>
        <li>Pagamos al instante.</li>
        <li>La seguridad es nuestra prioridad.</li>
      </ul>
    </div>
    <div class="col-md-6">
      Haganos saber como comunicarnos con usted.
      <form class="form-horizontal">
        <div class="form-group">
          <label for="user_name" class="col-sm-5 control-label">Nombre completo</label>
          <div class="col-sm-7">
            <input type="text" class="form-control" id="user_name" placeholder="Nombre completo"  required="" ng-change="change()" ng-model="user_name">
          </div>
        </div>
        <div class="form-group">
          <label for="user_email" class="col-sm-5 control-label">E-mail</label>
          <div class="col-sm-7">
            <input type="email" class="form-control" id="user_email" placeholder="E-mail"  required="" ng-change="change()" ng-model="user_email">
          </div>
        </div>
        <div class="form-group">
          <label for="user_phone" class="col-sm-5 control-label">Numero de contacto</label>
          <div class="col-sm-7">
            <input type="tel" class="form-control" id="user_phone" placeholder="Numero de contacto"  required="" ng-change="change()" ng-model="user_phone">
          </div>
        </div>
        <div class="form-group">
          <label for="user_code" class="col-sm-5 control-label">Código Promocional</label>
          <div class="col-sm-7">
            <input type="tel" class="form-control" id="user_code" placeholder="Código Promocional" ng-change="change()" ng-model="user_code">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-1 col-sm-11">
            <button type="submit" class="btn btn-default" ng-disabled="continueDisabled()" ng-click="next()">Aceptar y enviar</button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
</div>
