<breadcrumb></breadcrumb>
<div class="container modulos-como-funciona">

  <div class="row text-center conte-fotos">
    <h2>Añade fotografias para encontrar una gran oferta</h2>
    <div class="row">
      <div class="modulo-fotos">
        <div class="img-foto img-foto1"><img ng-show="picFile0[0].dataUrl != null" ng-src="{{picFile0[0].dataUrl}}" class="step3-thumb"></div>
        <div class="texto">Foto frontal con pantalla encendida</div>
        <button type="button" class="btn btn-default"  ng-file-select ng-file-change="generateThumb(picFile0[0], 'picFile0')" ng-model="picFile0" accept="image/*">Subir foto</button>
      </div>
      <div class="modulo-fotos">
        <div class="img-foto img-foto2"><img ng-show="picFile1[0].dataUrl != null" ng-src="{{picFile1[0].dataUrl}}" class="step3-thumb"></div>
        <div class="texto">Foto que sea visible el frontal y el perfil</div>
        <button type="button" class="btn btn-default"  ng-file-select ng-file-change="generateThumb(picFile1[0], 'picFile1')" ng-model="picFile1" accept="image/*">Subir foto</button>
      </div>
      <div class="modulo-fotos">
        <div class="img-foto img-foto3"><img ng-show="picFile2[0].dataUrl != null" ng-src="{{picFile2[0].dataUrl}}" class="step3-thumb"></div>
        <div class="texto">Foto trasera</div>
        <button type="button" class="btn btn-default"  ng-file-select ng-file-change="generateThumb(picFile2[0], 'picFile2')" ng-model="picFile2" accept="image/*">Subir foto</button>
      </div>
      <div>
      <button type="button" class="btn btn-primary" ng-click="next()" ng-disabled="continueDisabled()">Continuar</button></div>

    </div>

  </div>

</div>
