<breadcrumb></breadcrumb>
<div class="container modulos-como-funciona">

  <div class="row text-center conte-botones marcas">
    <h2>¿Cuál es la condición del dispositivo?</h2>
    <div class="row estado_telefono">
      <div class="col-md-3">
        <a ng-click="selectStatus('Excelente')">
          <div ng-class="{'active' : status === 'Excelente'}">Excelente
            <p>Parece que nunca
              se ha utilizado</p>
            </div>
          </a>
        </div>
        <div class="col-md-3">
          <a ng-click="selectStatus('Bueno')">
            <div ng-class="{'active' : status === 'Bueno'}">Bueno<br>
              <p>Buen estado, algunos<br>
                detalles esteticos</p>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <a ng-click="selectStatus('Regular')">
              <div ng-class="{'active' : status === 'Regular'}">Regular<br>
                <p>Funcional, rasguños o color desgastado</p>
              </div>
            </a>
          </div>
        </div>

      </div>
    </div>
