<h1 class="step-title"> REQUISITOS PARA VENDER </h1>

<div class="row step2-requisitos alert alert-success">
    <div class="col-md-12">
        <h4>REQUISITOS</h4>
        <ul>
            <li>El dispositivo es completamente funcional incluyendo pantalla, todos los botones y puertos.</li>
            <li>El dispositivo está libre para activación y no tiene registro de pérdida o robo.</li>
            <li>La pantalla está intacta (sin grietas, ni pixeles muertos)</li>
            <li>El dispositivo no está roto, daños por agua y otros daños no cosméticos.</li>
            <li>La batería esta en óptimas condiciones y funciona por varias horas.</li>
            <li>El sticker del dispositivo debe ser legible y debe corresponder al IMEI interno.</li>
        </ul>
    </div>    
</div>

<div class="row step2-no-permitido alert alert-danger">
    <div class="col-md-12">
        <h4>NO PERMITIDO</h4>
        <ul>
            <li>Dispositivos con daños en pantallas o táctiles.</li>
            <li>Dispositivos con daños de agua (con indicadores de humedad activados o que no estén)</li>
            <li>Dispositivos activados en contrato de pospago o con deuda en el operador de origen.</li>
            <li>Los dispositivos deben cumplir estos requisitos para poder ser ofertados en zelly.</li>
        </ul>
    </div>
</div>

<div class="row step1-text">
    <div class="col-md-12">
        <h4>Usted debe estar de acuerdo con nuestros requisitos y términos (marcar las dos casillas) para continuar.</h4>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="accept-requirements" ng-model="acceptRequirements" ng-change="change()">
                El dispositivo cumple todos los requisitos para la Venta.
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="accept-conditions" ng-model="acceptConditions" ng-change="change()"/> 
                He leído y aceptado las condiciones de uso de este sitio y el servicio.
            </label>
        </div>
    </div>
</div>

<div class="steps-botonera">
    <a ng-href="#/step1" class="btn btn-danger">Volver</a>
    <button ng-click="next()" class="btn btn-success" ng-disabled="continueDisabled()">Siguiente</button>
</div>

