<h1 class="step-title">ENCUENTRE SU SMARTPHONE </h1>

<div class="row step1-select">
    <div class="col-md-6">
        <h3>Selecciona la marca de tu dispositivo.</h3>
        <!--<p>Selected: {{marcas.selected}}</p>-->
        <ui-select ng-model="marcas.selected" theme="selectize" on-select="selectMarca($item, $model)">
            <ui-select-match placeholder="Selecciona una Marca">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="marca in marcas | filter: $select.search">
                <span ng-bind-html="marca.name | highlight: $select.search"></span>
                <!--<small ng-bind-html="marca.name | highlight: $select.search"></small>-->
            </ui-select-choices>
        </ui-select>
    </div>
    <div class="col-md-6">
        <h3>Selecciona el modelo de tu dispositivo.</h3>
        <!--<p>Selected: {{marcas.selected}}</p>-->
        <ui-select ng-model="modelos.selected" theme="selectize" on-select="selectModelo($item, $model)">
            <ui-select-match placeholder="Selecciona un Modelo">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="modelo in modelos | filter: $select.search">
                <span ng-bind-html="modelo.name | highlight: $select.search"></span>
                <!--<small ng-bind-html="modelo.name | highlight: $select.search"></small>-->
            </ui-select-choices>
        </ui-select>
    </div>
</div>

<div class="row step1-text">
    <div class="col-md-12">
        <h4>¿Qué pasa si mi dispositivo no está en la lista?</h4>
        <p>
            Si tu smarphone aún no aparece, por favor, envíe un correo electronico a <a href="mailto:hello@zelly.co">hello@zelly.co</a> Asegúrese de incluir el fabricante y modelo del dispositivo. Se lo añadiremos a nuestro sistema y le notificaremos por correo electrónico para que inicie el proceso de venta.
        </p>
    </div>
</div>




<button ng-click="next()" class="btn btn-success" ng-disabled="continueDisabled()">Siguiente</button>
