<h1 class="step-title"> INGRESA FOTOGRAFÍAS DE TU DISPOSITIVO </h1>

<div class="row">
    <div class="col-md-12">
        <h4>Instrucciones de captura de fotografías del dispositivo para mejorar su oferta.</h4>
        <ul>
            <li>Imagen frontal con el dispositivo encendido mostrando el IMEI.</li>
            <li>Imagen trasera con la tapa y la batería al lado.</li>
            <li>Imagen del stiker o etiqueta capturando IMEI.</li>
            <li>Imagen del detalle estético más evidente.</li>
        </ul>
    </div>    
</div>
<div class="row step3-fotos">
    <div class="col-md-3 step3-img-div">
        <div class="btn btn-info" ng-file-select ng-file-change="generateThumb(picFile0[0], 'picFile0')" ng-model="picFile0" accept="image/*" >Subir Foto Frontal</div>
        <img ng-show="picFile0[0].dataUrl != null" ng-src="{{picFile0[0].dataUrl}}" class="step3-thumb">
        <span class="progress" ng-show="picFile0[0].progress >= 0">						
            <div style="width:{{picFile0[0].progress}}%" ng-bind="picFile0[0].progress + '%'"></div>
        </span>	
        <span ng-show="picFile0[0].result" class="step3-upload-success">Subida correctamente</span>
    </div>
    <div class="col-md-3 step3-img-div">
        <div class="btn btn-info" ng-file-select ng-file-change="generateThumb(picFile1[0], 'picFile1')" ng-model="picFile1" accept="image/*" >Subir Foto Trasera</div>
        <img ng-show="picFile1[0].dataUrl != null" ng-src="{{picFile1[0].dataUrl}}" class="step3-thumb">
        <span class="progress" ng-show="picFile1[0].progress >= 0">                         			
            <div style="width:{{picFile1[0].progress}}%" ng-bind="picFile1[0].progress + '%'"></div>
        </span>	
        <span ng-show="picFile1[0].result" class="step3-upload-success">Subida correctamente</span>
    </div>
    <div class="col-md-3 step3-img-div">
        <div class="btn btn-info" ng-file-select ng-file-change="generateThumb(picFile2[0], 'picFile2')" ng-model="picFile2" accept="image/*" >Subir Foto Sticker</div>
        <img ng-show="picFile2[0].dataUrl != null" ng-src="{{picFile2[0].dataUrl}}" class="step3-thumb">
        <span class="progress" ng-show="picFile2[0].progress >= 0">						
            <div style="width:{{picFile2[0].progress}}%" ng-bind="picFile2[0].progress + '%'"></div>
        </span>	
        <span ng-show="picFile2[0].result" class="step3-upload-success">Subida correctamente</span>
    </div>
    <div class="col-md-3 step3-img-div">
        <div class="btn btn-info" ng-file-select ng-file-change="generateThumb(picFile3[0], 'picFile3')" ng-model="picFile3" accept="image/*" >Subir Foto Detalle</div>
        <img ng-show="picFile3[0].dataUrl != null" ng-src="{{picFile3[0].dataUrl}}" class="step3-thumb">
        <span class="progress" ng-show="picFile3[0].progress >= 0">						
            <div style="width:{{picFile3[0].progress}}%" ng-bind="picFile3[0].progress + '%'"></div>
        </span>	
        <span ng-show="picFile3[0].result" class="step3-upload-success">Subida correctamente</span>
    </div>
</div>

<!--<pre>
    {{picFile0 | json}}
</pre>-->


<div class="steps-botonera">
    <a ng-href="#/step2" class="btn btn-danger">Volver</a>
    <button ng-click="next()" class="btn btn-success" ng-disabled="continueDisabled()">Siguiente</button>
</div>

