<div class="jumbotron text-center">
    <h1>¡Gracias por usar nuestro servicio!</h1>
    <p class="lead">
        <br>
        Nos comunicaremos con tigo lo mas pronto posible.
    </p>
    <p>
        <br>
        <a class="btn btn-lg btn-success" ng-href="http://zelly.co">Volver</a>
    </p>
</div>

<!-- Google Code for Oferta Registrada Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 948688650;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "tmt5CPr69FwQiq6vxAM";
var google_remarketing_only = false;
console.log('Google convertion code');
/* ]]> */
</script>

<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/948688650/?label=tmt5CPr69FwQiq6vxAM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<!-- Facebook Conversion Code for Zelly Registros -->
<script>(function() {
var _fbq = window._fbq || (window._fbq = []);
if (!_fbq.loaded) {
var fbds = document.createElement('script');
fbds.async = true;
fbds.src = '//connect.facebook.net/en_US/fbds.js';
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(fbds, s);
_fbq.loaded = true;
}
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6036008444539', {'value':'1.00','currency':'COP'}]);
console.log('Facebook convertion code');
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6036008444539&amp;cd[value]=1.00&amp;cd[currency]=COP&amp;noscript=1" /></noscript>