<h1 class="step-title"> INGRESE SU INFORMACIÓN </h1>
<form name="userform" novalidate class="form-horizontal user-collecting-form">
    <fieldset>
        <div class="form-group">
            <label class="col-md-4 control-label" for="first_name">Nombres:</label>  
            <div class="col-md-4">
                <input ng-model="user_first_name" id="first_name" name="first_name" type="text" placeholder="Nombres" class="form-control input" required="" ng-change="change()">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="last_name">Apellidos</label>  
            <div class="col-md-4">
                <input ng-model="user_last_name" id="last_name" name="last_name" type="text" placeholder="Apellidos" class="form-control input" required="" ng-change="change()">
            </div>
        </div>           

        <div class="form-group">
            <label class="col-md-4 control-label" for="email">Correo Electrónico:</label>  
            <div class="col-md-4">  
                <input ng-model="user_email" id="email" name="email" type="email" placeholder="Correo Electrónico" class="form-control input-md" required="" ng-change="change()">            
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="region">Departamento:</label>
            <div class="col-md-4">
                <ui-select ng-model="regions.selected" theme="selectize" on-select="selectRegion($item, $model)">
                    <ui-select-match placeholder="Selecciona un Departamento">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="o in regions | filter: $select.search">
                        <span ng-bind-html="o.name | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>            
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="city">Ciudad:</label>
            <div class="col-md-4">
                <ui-select ng-model="cities.selected" theme="selectize" on-select="selectCity($item, $model)">
                    <ui-select-match placeholder="Selecciona una Ciudad">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="o in cities | filter: $select.search">
                        <span ng-bind-html="o.name | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>            
            </div>
        </div>

        <div class="form-group" ng-show="false">
            <label class="col-md-4 control-label" for="address">Dirección:</label>  
            <div class="col-md-4">
                <input ng-model="user_address" id="address" name="address" type="text" placeholder="Dirección" class="form-control input-md" ng-change="change()">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="phone">Número telefónico:</label>  
            <div class="col-md-4">
                <input ng-model="user_phone" id="phone" name="phone" type="text" placeholder="Número telefónico:" class="form-control input-md" required="" ng-change="change()">
            </div>
        </div>

    </fieldset>


    <div class="row">
        <a ng-href="#/step4" class="btn btn-danger">Volver</a>
        <button ng-click="next()" class="btn btn-success" ng-disabled="continueDisabled()">Enviar</button>
    </div>

</form>

<!--<pre>
    {{result | json}}
</pre>-->
