<h1 class="step-title"> HABLENOS ACERCA DE SU DISPOSITIVO </h1>

<div class="row">
    <div class="col-md-12">
        <h4>¿Cuál es la condición del dispositivo?</h4>
        <div class="radio">
            <label>
                <input type="radio" name="status" ng-model='status' value='1' ng-change="change()">
                <strong>EXCELENTE: </strong> Funciona sin problemas, pantalla en perfecto estado y no hay signos de uso.
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="status" ng-model='status' value='2' ng-change="change()">
                <strong>BUENO: </strong> Funcional sin problemas, pantalla en buen estado y pocas imperfecciones cosméticas.
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="status" ng-model='status' value='3' ng-change="change()">
                <strong>REGULAR: </strong> Funcional sin problemas, pantalla en buen estado y algunos rasguños o color desgastado.
            </label>
        </div>
    </div>    
</div>

<div class="row">
    <div class="col-md-12">
        <h4>¿Está activado el indicador de humedad? (batería y dispositivo)</h4>
        <div class="radio">
            <label>
                <input type="radio" name="humidity" ng-model='humidity' value='1' ng-change="change()">
                <strong>SI: </strong> El dispositivo ha sido expuesto al agua o humedad. <span style="color: red">(no podemos aceptar el dispositivo)</span>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="humidity" ng-model='humidity' value='2' ng-change="change()"> 
                <strong>NO: </strong> El dispositivo no tiene signos de haber estado expuesto al agua o húmeda, el  indicador no es de color rojo.
            </label>
        </div>
    </div>    
</div>

<div class="row">
    <div class="col-md-12">
        <h4>¿El IMEI o número de serie está presente y completo?</h4>
        <div class="radio">
            <label>
                <input type="radio" name="imei" ng-model='imei' value='1' ng-change="change()"> 
                <strong>SI: </strong> El IMEI o número de serie es claro, legible y es igual al registrado en el sticker o etiqueta.
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="imei" ng-model='imei' value='2' ng-change="change()"> 
                <strong>NO: </strong> El IMEI o número de serie no aparece, no es legible o no concuerda con el sticker o etiqueta. <span style="color: red">(no podemos aceptar el dispositivo)</span>
            </label>
        </div>
    </div>    
</div>

<div class="row">
    <div class="col-md-12">
        <h4>¿Incluye adaptador/cargador original?</h4>
        <div class="radio">
            <label>
                <input type="radio" name="charger" ng-model='charger' value='1' ng-change="change()"> 
                <strong>SI: </strong> El adaptador/cargador original está incluido.
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="charger" ng-model='charger' value='0' ng-change="change()"> 
                <strong>NO: </strong> El adaptador/cargador original no está incluido.
            </label>
        </div>
    </div>    
</div>

<div class="row">
    <div class="col-md-12">
        <h4>El dispositivo tiene toda la información borrada? para iPhone, el "FIND MY iPHONE ACTIVATION LOCK" ha sido deshabilitado la activación haciendo clic en borrado de contenidos y ajustes e introducir el ID de apple.</h4>
        <div class="radio">
            <label>
                <input type="radio" name="information"  ng-model='information' value='1' ng-change="change()"> 
                <strong>SI: </strong> Todos los códigos de restablecimiento de código de usuario han sido desactivados. si es iPhone, el "FIND MY iPHONE ACTIVATION LOCK" ha sido desactivado.
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="information"  ng-model='information' value='2' ng-change="change()"> 
                <strong>NO: </strong> Códigos de restablecimiento de código de usuario no se borran o son desconocidos, no logró deshabilitar el "FIND MY iPHONE ACTIVATION LOCK" de mi iPhone. <span style="color: red">(no podemos aceptar el dispositivo)</span>
            </label>
        </div>
    </div>    
</div>

<div class="row">
    <div class="col-md-12">
        <h4>IMEI</h4>
        <ul>
            <li>Ingresa el numero IMEI de tu dispositivo en el siguiente campo: </li>
            <li><input type="text" name="imei_number" ng-model="imei_number" ng-change="change()" limit-to="15"> </li>
        </ul>
    </div>    
</div>

<div class="row">
    <a ng-href="#/step3" class="btn btn-danger">Volver</a>
    <button ng-click="next()" class="btn btn-success" ng-disabled="continueDisabled()">Siguiente</button>
</div>
